*~
*.pyc
*.o
*.lo
*.la
*.defs
*.log
.deps
*.db
*.gz
config.*
autom4te.cache/*
aclocal.m4
config.*
configure
Makefile
*/Makefile
Makefile.in
*/Makefile.in
.libs/
*/.libs/
stamp-h1
searpc-demo-server
searpc-demo-client
pysearpc/fcallfret.h
m4/l*
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
