*~
*.pyc
*.o
*.lo
*.la
*.defs
*.log
.deps
*.db
*.gz
config.*
autom4te.cache/*
aclocal.m4
configure.status
configure.sub
configure
Makefile
*/Makefile
.libs/
*/.libs/
stamp-h1
searpc-demo-server
searpc-demo-client
pysearpc/fcallfret.h
m4/l*
