*~
*.pyc
*.o
*.lo
*.la
*.defs
*.log
.deps
*.db
*.gz
config.*
autom4te.cache/*
aclocal.m4
config.*
configure
Makefile
*/Makefile
Makefile.in
*/Makefile.in
.libs/
*/.libs/
stamp-h1
searpc-demo-server
searpc-demo-client
searpc-async-client
pysearpc/fcallfret.h
m4/l*
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
cscope.files
cscope.out
lib/fcall-impr.h
lib/marshal.h
lib/searpc-dfun.h
lib/searpc-fcall.h
lib/searpc-signature.h
tests/test-searpc
cscope*
pysearpc/rpc_table.py
*.pc
demo/searpc-marshal.h
demo/searpc-signature.h
tests/searpc-marshal.h
tests/searpc-signature.h
tests/clar.suite
build



