ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/build/autotools/*.m4
!/build/autotools/as-compiler-flag.m4
!/build/autotools/Makefile.am.*
compile
configure
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
depcomp
install-sh
.deps
.libs
*.o
*.lo
/json-glib/json-enum-types.[ch]
/json-glib/json-marshal.[ch]
/json-glib/json-version.h
/json-glib/Json-1.0.gir
/json-glib/Json-1.0.typelib
/json-glib/*.la
/json-glib/gcov-report.txt
/json-glib/stamp-enum-types
/json-glib/stamp-marshal
libtool
ltmain.sh
missing
stamp-h1
test-report.xml
test-report.html
.*.swp
*.stamp
